<%= render 'shared/banner' %>

  <div class="py-1rounded-lg" style="padding: 50px; background-image: linear-gradient(to right, rgba(19, 91, 191, 0.1), rgba(17, 63, 128,1));">
    <div class="container text-center">
    <h4>BIENVENIDO A LAUSOL S.A.</h4>
    <h1>UNA EMPRESA SOCIALMENTE RESPONSABLE</h1>
    </div>
  </div>

<br><br><br>
<%= render 'pages/partials/services_cards' %>
<br><br><br>
<%= render 'pages/partials/our_services' %>

<br><br><br>

<%= render 'pages/partials/services_banner' %>


<br><br><br>

<!-- cards -->
<div class="container">
  <div class="row justify-content-center">
    <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
      <div class="">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
      <div class="">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
      <div class="">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
      <div class="">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
