<%= render 'shared/banner' %>

  <div class="py-1rounded-lg" style="padding: 50px; background-image: linear-gradient(to right, rgba(19, 91, 191, 0.1), rgba(17, 63, 128,1));">
    <div class="container text-center align-items-center">
    <h4>BIENVENIDO A LAUSOL S.A.</h4>
    <h1>UNA EMPRESA SOCIALMENTE RESPONSABLE</h1>
    </div>
  </div>

  <br><br><br>
<div style="background-image: url('https://www.usnews.com/dims4/USNEWS/d07813a/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fcom-usnews-beam-media.s3.amazonaws.com%2Fe4%2Fd5%2F43a0ac914af7abefa6704b41eb54%2F160307-cleaningservices-stock.jpg'); height:40vh; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; position: relative';">
    <div class="background-opacity" style="background-color: rgba(0,0,0,0.7); height: 40vh">
  <div class="row text-center d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-xs-12 text-opacity" style="padding: 4% 10%;">
      <h1 style="color: white; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"><strong>NUESTROS SERVICIOS</strong></h1>
      <h3 style="color: white; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt atque, harum facilis officiis quasi temporibus. Sapiente fuga, illum labore dolor saepe, nobis ipsam nam consectetur. Aut dolorum provident officia odit.</strong></h3>
      </div>
    </div>
  </div>
</div>
  <br><br><br>
  <div style="background-image: url('https://www.usnews.com/dims4/USNEWS/d07813a/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fcom-usnews-beam-media.s3.amazonaws.com%2Fe4%2Fd5%2F43a0ac914af7abefa6704b41eb54%2F160307-cleaningservices-stock.jpg'); height:40vh; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; position: relative';">
    <div class="row text-center d-flex justify-content-center align-items-center">
      <div class="col-lg-6 col-xs-12 text-opacity" style="padding: 4% 10%;">
        <h1 style="color: white; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"><strong>NUESTROS SERVICIOS</strong></h1>
        <h3 style="color: white; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt atque, harum facilis officiis quasi temporibus. Sapiente fuga, illum labore dolor saepe, nobis ipsam nam consectetur. Aut dolorum provident officia odit.</strong></h3>
      </div>
    </div>
</div>
  <br><br><br>


  <%= render 'pages/partials/services_cards' %>
  <br><br><br>
  <%= render 'pages/partials/our_services' %>

  <br><br><br>

  <%= render 'pages/partials/services_banner' %>


  <br><br><br>

  <!-- cards -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
        <div class="">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
        <div class="">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
        <div class="">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="description-card col-lg-3 col-sm-12 col-md-12 col-xs-12 text-center" style="width: 15rem;">
        <div class="">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plan-negocio-empresa-limpieza-1546535118.jpg?crop=1.00xw:0.847xh;0,0.106xh&resize=480:*" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
