
<div class="container-fluid" style="background-color: #004166;">
  <div class="row text-center d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-xs-12" style="padding: 10px 10%;">
      <h1 style="color: white">NUESTROS SERVICIOS</h1>
      <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt atque, harum facilis officiis quasi temporibus. Sapiente fuga, illum labore dolor saepe, nobis ipsam nam consectetur. Aut dolorum provident officia odit.</p>
    </div>
    <div class="col-lg-6 col-xs-12" style="margin: 0; padding: 0">
      <img src="https://s04.s3c.es/imag/_v0/770x420/1/5/9/700x420_empleada-limpieza-hogar-dreams.jpg" alt="" class="normas-iso" style="width: 100%; height: 500px;">
    </div>
  </div>
</div>
