
<div class="container">
  <div class="row">
    <div class="presentation-card col-lg-4 col-xs-12 p-4">
      <div class="presentation-img">
        <img src="https://mecaluxar.cdnwm.com/casos-practicos/frio-dock-deposito-frio-argentina.1.7.jpg" alt="">
        <div class="presentation-content col-12">
          <a href="#" class="presentation-title">Titulo</a>
          <div class="presentation-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore hic autem repudiandae adipisci, natus dolor tenetur quasi quisquam reiciendis quos animi dolore! Incidunt ratione deleniti quasi autem excepturi dolor ullam.
          </div>
          <div class="presentation-more-info button">
            <a href="#">Read more...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="presentation-card col-lg-4 col-xs-12 p-4">
      <div class="presentation-img">
        <img src="https://mecaluxar.cdnwm.com/casos-practicos/frio-dock-deposito-frio-argentina.1.7.jpg" alt="">
        <div class="presentation-content col-12">
          <a href="#" class="presentation-title">Titulo</a>
          <div class="presentation-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore hic autem repudiandae adipisci, natus dolor tenetur quasi quisquam reiciendis quos animi dolore! Incidunt ratione deleniti quasi autem excepturi dolor ullam.
          </div>
          <div class="presentation-more-info button">
            <a href="#">Read more...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="presentation-card col-lg-4 col-xs-12 p-4">
      <div class="presentation-img">
        <img src="https://mecaluxar.cdnwm.com/casos-practicos/frio-dock-deposito-frio-argentina.1.7.jpg" alt="">
        <div class="presentation-content col-12">
          <a href="#" class="presentation-title">Titulo</a>
          <div class="presentation-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore hic autem repudiandae adipisci, natus dolor tenetur quasi quisquam reiciendis quos animi dolore! Incidunt ratione deleniti quasi autem excepturi dolor ullam.
          </div>
          <div class="presentation-more-info button">
            <a href="#">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
