.lausol-logo {
  width: 150px; height: auto;
}

@media(max-width: 992px) {
  .lausol-logo {
    width: 100px; height: auto;
  };
  .nav-link {
    border-left: 0px!important;
    border-right: 0px!important;
  }
}

@media(max-width: 768px) {
  .lausol-logo {
    width: 50px; height: auto
  };
  .nav-link {
    border-left: 0px!important;
    border-right: 0px!important;
  }
}

